body {
    background-color: #f3f2ef;
     font-family: "Krub", sans-serif;
     zoom: 80%
    }

a {
    text-decoration: none;
    color: white; 
    font-weight: 400; 
    transition: 0.3s;
   
     }


a:hover {
    color:#cfcfcf;
     transform: scale(1.02)
}

.navbar {
  background: #162029;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 40px;
  left: 40px;
  top: 30px;
  border-radius: 15px;
  z-index: 9999;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}


.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  transition: 0.3s;
}

.navbar a:hover {
  color: #cfcfcf;
  transform: scale(1.02);
}


.dropdown {
  position: relative;
}


#menu-toggle {
  background: none;
  border: none;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

#menu-toggle:hover {
  color: #cfcfcf;
  transform: scale(1.02);
}


.dropdown-content {
  display: none;
  position: absolute;
  top: 55px; 
  left: 0;
  background-color: #162029;
  min-width: 200px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 10000;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
}


.dropdown-content a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.dropdown-content a:hover {
  background-color: #1f2d38;
}


.show {
  display: block;
}

.wrapper {  
    margin: 100px; 
	margin-top: 100px; 
    padding: 25px; 
    color: #162029;
    display: flex; 
    overflow: hidden;
}

.topichead {
    font-family: "Caprasimo", serif;
    font-size: 150px;
    color: #ab4f5d;
    font-weight: 400;
    z-index: 5;
    text-shadow: 8px 8px 0px#9231414c;
    line-height: 0.65;
    letter-spacing:-2px;
    margin-right: 0;
    text-align: right;
    margin-top: 30px;
}

.experience {
    justify-content: center;
    padding: 20px;
    height: 600px;
    margin-top: 25px;
    margin: 100px;
    background-color: #99ab6c;
    border: 5px dashed #677446;
    border-radius: 20px;
    padding-bottom: 30px;
}

.image-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    align-items: center;
    height: auto;
    width: 1200px;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    
}

 .video-player p {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}
.container p {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}
.bar {
    flex: 0 0 auto;
    flex-basis: 140px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: flex-basis 0.5s ease;
    width: 200px;
    position: relative;
}

.bar:hover {
    flex-basis: 250px;
}
.bar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(80%) brightness(0.85);
    transition: filter 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    border-radius: 10px;
}
.bar:hover img {
    filter: none;
    transform: scale(1.05);
}

.bar p
{
    position: absolute;
    top: 15px;
    left: 10%;
    color: #f3f2ef;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.bar:hover p {
    opacity: 1;
}

.cfm p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #432832;
    text-align: left;
    text-decoration: underline;
}   


.MyTrophies {
    justify-content: center;
    padding: 20px;
    background-color: #99ab6c;
    border: 5px dashed #677446;
    border-radius: 10px;
    height: auto;
    margin-top: 25px;
    margin-left: 100px;
    width: 50%;
    padding-right: 70px;
}  
    


.Trophies {
    display: flex;
    gap: 50px;
    overflow-x: auto;
    align-items: center;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 25px;
    justify-content: center;
    background-color: #99ab6c;
    padding-bottom :50px
    
    
}



.box1 {
    height: 275px;
    overflow: hidden;
    border-radius: 15px;
    width: 225px;
    border: 5px solid #99ab6c;
    background-color: #7b8a56;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
    
}

.img-box1 {
    aspect-ratio: 4 / 3;
    overflow: hidden;
    border-radius: 10px;
}


.img-box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.box1 p {
    margin-bottom: -10px;
    font-size: 18px;
    font-weight: 600;
    color: #162029;
}

.video-player {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #99ab6c;
    border: 5px dashed #677446;
    justify-content: center;
    padding: 30px;
    align-items: center;
    width: 570px;
}

.video-player video {
    width: auto;
    height: 320px;
    border-radius: 20px;
    border: 5px solid #677446;
    margin-left: 67px;
}

.mytt {
    font-size: 18px;
    font-weight: 500;
    color: #162029;
    text-align: left;
    text-decoration: underline;
    height: 100%;
    width: auto;
    margin-top: -10px;
    padding-left: 0px
}

.wrapper2 {
    display: flex;
    gap: 80px;
    margin-left: 100px;
    margin-right: 100px;
    height: 550px;
    justify-content: center;
    
}

.mytt img {
    width: 350px;
    border-radius: 10px;
    object-fit: cover;
    border: 3px solid #677446;
}

.wrapper3 {
    width: 100%;
    display: flex;
    margin-top: 150px;
}
.More {
    padding: 10px;
    height: 600px;;
    margin-right: 0;
    justify-content: left;
    margin-top: 25px;
    margin-left: 90px;
    overflow: visible;
    margin-top: -80px;
}

.links {
    align-items: center;
    height: auto;
    width: 100%;
    overflow: hidden;
    padding: 30px;
    margin-top: -12px;
    
}
.box {
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.5s ease;
    width: 190px;
    align-items: center;
    padding: 20px;
    border: 5px solid #7b8a56;
    background-color: #7b8a56;
    padding-bottom: 15px;
    text-align: center; 
}

.img-box {
    aspect-ratio: 4/3;
    overflow: hidden;
    border-radius: 10px;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    filter: grayscale(80%) brightness(0.6);
}

.box p {
    font-size: 18px;
    font-weight: 600;
    color: #162029;
}

.box:hover {
    transform: scale(1.02);
}
.box:hover img {
    filter: none;
}
.bth a p {
    font-size: 18px;
    font-weight: 600;
    color: #162029;
    text-align: center;
    text-decoration: underline;
    margin-right: 10px;
}

.bth {
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
   
}

#topBtn {
    position: fixed;
    bottom: 30px;
    right: 49%;
    background-color: #162029;
    border: none;
    border-radius: 50%;
    padding: 15px 16px;
    cursor: pointer;
    display: none; 
    z-index: 10000;

}   

.modal {
    display: none;               
    position: fixed;              
    z-index: 9999;               
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(8px);   
    justify-content: center;      
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    border-radius: 20px;
    animation: zoomIn 0.3s ease;
}

.close {
    position: absolute;
    top: 40px;
    right: 60px;
    font-size: 45px;
    color: white;
    cursor: pointer;
}

@keyframes zoomIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}